/* #projectForm{
    margin-left: 600px;
    margin-top: -152px;
  
}
#project{

    margin-right: 1000px;
    width:100px;
    margin-top: -3px;
} */
#float{
    display: flex;
   
}
#create{
    margin-left: 200px;
}